* {
  border: 1px solid black;
  text-align: center;
}

body {
  background: blanchedalmond;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
}

.b {
  min-height: 70vh;
  flex-grow: 2;
  background-color: darkgrey;
  margin: 1%
}

.a,
.c {
  flex-grow: 1;
  background-color: darkgrey;
  margin: 1%;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a {
    min-width: 98%;
    flex-grow: 1;
  }

  .b {
    flex-grow: 2;
  }

  .c {
    flex-grow: 1;
  }
}